html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---CODE---*/

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
	height: 100vh;
	gap: 20px;
	background-image: url('https://wallpapers.com/images/hd/bong-rick-and-morty-stoner-322yp868ciqn38xl.jpg');
	background-size:auto; /* Ajusta la imagen para que cubra todo el body */
	
	background-position: absolute; /* Centra la imagen en el body */
}

h1{
	font-size: 50px;
}


button{
	border-radius: 5px;
    border: none;
	background-color: rgb(61, 198, 198);
}

/* Contenedor que contiene todas las tarjetas */
#characterInfo {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    justify-content: center;
	gap: 20px; /* Añade espacio entre las tarjetas */
    padding: 20px;
    margin: 0 auto; /* Centra el contenedor dentro de la página */
}

#characterInfor, p {
	color: rgb(19, 17, 17);
	background-color: #8b89894e;
}

h2 {
	color: blue;
	font-size: 20px;
}

/* Estilos para cada tarjeta */
.character-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px; /* Ajusta el tamaño de las tarjetas */
    text-align: center;
    background-color: #f9f9f9;
}

/* Imagen de cada personaje */
.character-card img {
    width: 20px;
	height: 20px;
    border-radius: 50%;
}

/* Texto dentro de la tarjeta */
.character-card p {
    font-size: 1em;
    color: #040404;
}
